body, html{
    margin: 0;
    padding: 0;
}

.container{
    position: relative;
    height: 100vh;
    /* 상하좌우 정렬 */
    display : flex;
    justify-content: center;
    align-items: center;

}

.inner{
    margin-top: -100px;
    flex-direction: column;
    width: 340px;
    height: 335px;
    border: 4px solid #EFEFEF;
    border-radius: 10px;
}

.content{
    flex : 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 30px 30px;
    grid-gap: 3px;
    margin : 5px;
}

.background_block{
    width : 30px;
    height: 30px;
    position: relative;
    border-radius: 3px;
    background-color: #EFEFEF;
}

.block{
    width : 30px;
    height: 30px;
    position: absolute;
    border-radius: 3px;
    background-color: #BEDBE8;
}

