@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family:'DNFBitBitv2';
    font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}


body, html{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Cafe24Ssurround";
    margin: 0;
    padding: 0;
    background-color: #FFFAF3;
    /*background-image: url('../../resource/image/바나나.png');*/
    /*background-size : cover*/

}
.outer1{
    width: 15vw;
    position: absolute;
    font-size: 30px;
    color:#5A5046;
    padding-top: 20px;
    cursor: pointer;


}
.outer1 span{
    display: block;
    font-size: 12px;

}

.outer2{
    position: absolute;
    top: 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    padding-left: 10%;
    padding-right: 7%;
    /* 상하좌우 정렬 */
    justify-content: center;
    align-items:flex-start;
    height: 100vh;
    display: flex;
    background-color: #FFFAF3;
    flex-direction: column;
}

.score-container{
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.small-outer{
    display: flex;
    flex-direction: row;
}
/*스몰 박스(스피드, 최고기록)*/
.small-block-container{
    height: 60px;
    min-width: 70px;
    /* width: 70px; */
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #897D70;
    border-radius: 6px;

    margin-left: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.small-block-container .small-block-title{
    font-size: 12px;
    color:#CDC2B6;
    margin-top: 5px;
}

.small-block-content{
    position: relative;
    font-size: 18px;
    color: rgb(255, 255, 255);
    margin: 3px;
}

.score{
    display: block;
    margin-right: auto;
    font-size: 60px;
    font-family: "Cafe24Ssurround";
    color: #767167;
}
.container{
    position: relative;
    /* 상하좌우 정렬 */
    display : flex;
    justify-content: center;
    align-items: center;
}

.next-container{
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 450px;
    margin-left: 20px;
}

.next{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width : 70px;
    height: 70px;
    border: 4px solid #bcb3a4;
    background-color: white;
    border-radius: 10px;
}

.next-text{
    color : #767167;
    font-size: 20px;
    font-family: "Cafe24Ssurround";
    position: relative;
}

.next .next-block{
    margin : 5px;
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 6px;
}

/* 테트리스 판 */
.inner{
    background-color: white;
    margin-top: -100px;
    flex-direction: column;
    /* width: 340px; */
    border: 7px solid #BBAE9F;;
    border-radius: 7px;
}
.content{
    flex : 1 1 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px;
    grid-gap: 3px;
    margin : 5px;
}
.block{
    width : 40px;
    height: 40px;
    position: relative;
    border-radius: 6px;
    background-color: #e6e6e6;
}

/* .block{
    width : 30px;
    height: 30px;
    position: absolute;
    border-radius: 3px;
    background-color: #BEDBE8;
}
 */
